.card{
	border: 1px solid black;
	font-size: 15px;
	color: #191970;
	text-decoration: none;
	height: 200px;
	width: 200px;
	display: flex;
	align-items: center;
	text-align: center;
	cursor: pointer;
	margin: 20px;
}
.card-wrapper{
	display: flex;
	justify-content: center;
}

.card-wrapper a{
	text-decoration: none !important;
}