
form input[type="number"], form input[type="text"]{
	display: inline-block;
	border: 1px solid #AFEEEE;
	margin-bottom: 5px;
	padding: 20px;
    border-radius: 4px;
    height: 34px;
    margin-right: 10px
}
